# ====== Global ======
PROJECT_NAME=ipfs
ENVIRONMENT=production

# ====== Nginx ======
NGINX_VERSION=1.27-alpine
NGINX_HTTP_PORT=80
NGINX_HTTPS_PORT=443
# Hostname
IPFS_DOMAIN=ipfs.peaq.xyz
# Path on host where you will place fullchain.pem and privkey.pem
NGINX_CERTS_HOST_PATH=/var/network/ipfs/nginx/certs

# ====== IPFS (Kubo) ======
IPFS_VERSION=v0.29.0
IPFS_SWARM_TCP=4001
IPFS_API_PORT=5001
IPFS_GATEWAY_PORT=8080
IPFS_PROFILE=server

# ====== Paths (host) ======
IPFS_DATA=/var/network/data

# ====== Networking ======
PUBLIC_IP=
PUBLISHED_SWARM_TCP=4001
PUBLISHED_SWARM_UDP=4001

# ====== Resources (best-effort; Compose may ignore on non-Swarm) ======
IPFS_MEMORY=4g
IPFS_CPUS=2.0
NGINX_MEMORY=512m
NGINX_CPUS=0.5
